# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [14]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv', index_col=0, skiprows=47)
df.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
47,,,,,,,,,,,,,,,,,,,,,
48,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
49,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
50,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
51,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
52,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

In [15]:
# Print the last 5 rows of df
df.tail()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
47,,,,,,,,,,,,,,,,,,,,,
53,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.0,6,1.0,0,0,6,100
54,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.0,0,0.0,0,0,1,100
55,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.0,2,1.0,0,0,2,100
56,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.0,0,0.0,0,0,0,0
57,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.0,3,1.0,0,0,3,100

In [18]:
# What is going on with this data set? Anything unusual?
# The first 47 rows are used to record the average values for each column
df.describe()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.0,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0,10.0,10.000000,10.000000
mean,10005.800000,9.400000,4.800000,0.404000,4.600000,0.396000,0.0,0.0,9.400000,80.000000,...,9.400000,80.000000,2.300000,0.151000,7.100000,0.649000,0.0,0.0,9.400000,80.000000
std,3.425395,16.098309,8.350649,0.403766,7.820202,0.401558,0.0,0.0,16.098309,42.163702,...,16.098309,42.163702,6.254776,0.329661,11.618472,0.468341,0.0,0.0,16.098309,42.163702
min,10001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,10003.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,100.000000,...,1.000000,100.000000,0.000000,0.000000,0.250000,0.137500,0.0,0.0,1.000000,100.000000
50%,10005.500000,2.000000,1.500000,0.415000,1.000000,0.395000,0.0,0.0,2.000000,100.000000,...,2.000000,100.000000,0.000000,0.000000,2.000000,0.970000,0.0,0.0,2.000000,100.000000
75%,10008.500000,5.250000,2.000000,0.637500,3.500000,0.627500,0.0,0.0,5.250000,100.000000,...,5.250000,100.000000,0.750000,0.045000,5.250000,1.000000,0.0,0.0,5.250000,100.000000
max,10011.000000,44.000000,22.000000,1.000000,22.000000,1.000000,0.0,0.0,44.000000,100.000000,...,44.000000,100.000000,20.000000,1.000000,33.000000,1.000000,0.0,0.0,44.000000,100.000000

In [ ]:
# Clean up the dataset

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [27]:
# Hint: Here's a useful programming pattern to use
try:
    # Do something
    df = pd.read_csv('Data/Yelp_Reviews_corrupt.csv')
    pd.head()
except Exception as e:
    # Handle your exception e
    print(e)

Error tokenizing data. C error: Expected 11 fields in line 2442, saw 12

In [200]:
def beginning(review):
    return '"' + '","'.join(review.split(',')[0:7]) + '"'

def end(review):
    return '"' + '","'.join(review.split(',')[-2:])+'"'

def middle(review):
    return '"' + ",".join(review.split(',')[7:-2])+'"'

def reformat_review(review):
    a = beginning(review) 
    b = middle(review)
    c = end(review) 
    if len(a.split(',')) == 7 and len(c.split(',')) == 2:
        return ",".join([a, b, c])

def reformat_reviews(reviews):
    # split first half
    results = []
    for review in reviews:
        formatted_review = reformat_review(review)
        if formatted_review:
            results.append(formatted_review)

    return results

test_reviews = ['1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atleast once a week. The portions are huge! Food is amazing. I love their carne asada. They have great lunch specials... Leticia is super nice and cares about what you think of her restaurant. You have to try their cheese enchiladas too the sauce is different And amazing!!!,0,msQe1u7Z_XuqjGoqhB0J5g', '2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fat and mushy and had no flavor. If you want bbq in this neighborhood go to john mulls roadkill grill. Trust me.,3,msQe1u7Z_XuqjGoqhB0J5g', '4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. Fish and pork are awesome too. Service is above and beyond. Not a bad thing to say about this place. Worth every penny!,0,msQe1u7Z_XuqjGoqhB0J5g', "5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horrible. They dont serve food unless you order a pizza from a neighboring restaurant. Who does that? They dont control their crowd. Many times I've gone I've seen fights. The bartenders suck - I've almost got in a fight with one because she was a complete bitch. Refused to serve me a drink because she was busy celebrating her friends birthday BEHIND THE BAR. This place is ridiculous. I will NEVER go there again.. EVER.,2,msQe1u7Z_XuqjGoqhB0J5g", '10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a number of years.  I have always been very satisfied with their vehicles and customer service.  This recent visit to Pittsburgh was no exception.,0,TlvV-xJhmh7LCwJYXkV-cg']
# print(reformat_reviews(test_reviews)[0])
# print(reformat_review(test_reviews[0]))

In [193]:
def reformat_csv(i_filename, o_filename):
    with open(i_filename) as f:
        alist = [line.rstrip() for line in f]
        categories = "0" + alist.pop(0)
        blist = reformat_reviews(alist)
        blist.insert(0, categories)
        with open(o_filename, 'w') as o:
            for line in blist:
                o.write(line)
                o.write('\n')

In [201]:
reviews_path = 'Data/Yelp_Reviews_Corrupt.csv'
new_reviews_path = 'Data/Yelp_Reviews.csv'

reformat_csv(reviews_path, new_reviews_path)

In [202]:
df = pd.read_csv(new_reviews_path, index_col=0)

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2743 entries, 1 to 4206
Data columns (total 9 columns):
business_id    2743 non-null object
cool           2743 non-null object
date           2743 non-null object
funny          2742 non-null object
review_id      2743 non-null object
stars          2743 non-null object
text           2141 non-null object
useful         2742 non-null object
user_id        2742 non-null object
dtypes: object(9)
memory usage: 214.3+ KB

In [204]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,,,,,,,,,
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

## Summary

Congratulations, you now practiced your Pandas-importing skills!